{% extends 'base.html.twig' %}
{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}<div class="container-fluid text-center">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div>
                    {%  include '_rebus_3.html.twig' %}
                    {%  include '_rebus_4.html.twig' %}
                    <img src="{{ asset('images/catacombe_gauche_2.webp') }}" alt="catacombes" usemap="#workmap">
                    <map name="workmap">
                        <area shape="rect" coords="10,171,141,325"
                              alt="Regarder de plus près"
                              data-bs-toggle="offcanvas"
                              href="#rebus3"
                              role="button"
                              aria-controls="rebus3">
                        <area shape="rect" coords="391,240,420,290"
                              alt="Regarder de plus près"
                              data-bs-toggle="offcanvas"
                              href="#rebus4"
                              role="button"
                              aria-controls="rebus4">
                        <area shape="rect" coords="220,240,255,434" alt="Partir à gauche" href="{{ path('app_catacombe_gauche_3') }}">
                    </map>
                </div>
                {%  include 'JeuCommunaute/catacombe/_revenir_entree_catacombe.html.twig' %}
            </div>
            <div class="col">
                {% include 'JeuCommunaute/menu/_menu.html.twig' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
