
<div class="col">
    <a href="{{ path('app_entree_jardin') }}">
        Revenir à l'entrée du jardin
    </a>
</div>
{% set trollDead = app.session.get('trollJardinDead') %}
{% if trollDead %}
    <div class="col">
            <a href="{{ path('app_jardin') }}">
                Revenir dans le jardin
            </a>
    </div>
{% endif %}
