
<div class="offcanvas offcanvas-start" tabindex="-1" id="combattreTrollMain" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">

        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vous visez la main du troll...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Que faire...
            </button>
            <ul class="dropdown-menu">
                <li>
                    {% set magie = app.session.get('magie') %}
                    {% if magie %}
                        {% if magie >= 1 %}
                            <a class="dropdown-item" href="{{ path('app_entree_jardin', [])}}">Lancer un sort : Confusion</a>
                        {% endif %}
                        {% if magie >= 2 %}
                            <a class="dropdown-item" href="#">Lancer un sort : Attraction</a>
                        {% endif %}
                        {% if magie >= 3 %}
                            <a class="dropdown-item" href="#">Lancer un sort : Repulsion</a>
                        {% endif %}
                        {% if magie >= 4 %}
                            <a class="dropdown-item" href="#">Lancer un sort : ...</a>
                        {% endif %}
                    {% else %}
                        <a class="dropdown-item" href="#">Lancer un sort (ce n'est pas encore appris!)</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
