{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    {% set magie = app.session.get('magie') %}
                    {% if magie == 1 %}
                    <p>Vous arrivez dans la piece secrète, </p>
                    <p>Les bruits du sbire continuent à résonner au tour de vous </p>
                    <p>Cela commence à réveiller une chose en vous</p>
                    <p>Ouvrez vos sorts</p>
                    <p>Et apprenez la leçon !!</p>
                    {% elseif magie > 1 %}
                        <p>Vous avez appris là leçon, </p>
                        <p>Vous avez deux sorts à votre disposition pour l'instant </p>
                        <p>Il n'y a plus rien à faire ici</p>
                    {% endif %}

                    {% include 'jardin/_revenir-entree-jardin.html.twig' %}
                </div>
                <div class="col">
                    {% include 'menu/_menu.html.twig' %}
                </div>
            </div>
        </div>


{% endblock %}
