{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p>Vous arrivez en courant dans un escalier,</p>
                    <p>Au bout, un autre sbire du maitre vous attend</p>
                    {% include 'jardin/_troll-tete.html.twig' %}
                    {% include 'jardin/_troll-main.html.twig' %}
                    {% include 'jardin/_entree-jardin-secret.html.twig' %}

                    <div>
                        <img src="{{ asset('images/troll_jardin.webp') }}" alt="porte d'entrée du jardin" usemap="#workmap" >
                        <map name="workmap">
                            <area shape="rect"
                                  coords="485,386,513,413"
                                  alt="Tete du troll"
                                  data-bs-toggle="offcanvas"
                                  href="#combattreTrollTete"
                                  role="button"
                                  aria-controls="combattreTrollTete">
                            <area shape="rect"
                                  coords="400,445,430,460"
                                  alt="Main du troll"
                                  data-bs-toggle="offcanvas"
                                  href="#combattreTrollMain"
                                  role="button"
                                  aria-controls="combattreTrollMain">
                            <area shape="rect"
                                  coords="900,242,1000,560"
                                  alt="Passage secret"
                                  data-bs-toggle="offcanvas"
                                  href="#jardinEntreeSecret"
                                  role="button"
                                  aria-controls="jardinEntreeSecret">
                        </map>
                    </div>
                    {% include 'escalier/_revenir-escalier.html.twig' %}
                </div>
                <div class="col">
                    {% include 'menu/_menu.html.twig' %}
                </div>
            </div>
        </div>


{% endblock %}
