


<div class="offcanvas offcanvas-end" tabindex="-1" id="magieMenu" aria-labelledby="magieMenu">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="magieMenu">Magie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% set magie = app.session.get('magie') %}
        <p>Niveau de magie : {{ magie }}</p>
        <ul>
            {% if magie >= 1 %}
                <li>Sort 1 : Confusion </li>
            {% endif %}
            {% if magie >= 2 %}
                <li>Sort 2 : Attraction</li>
            {% endif %}
            {% if magie >= 3 %}
                <li>Sort 3 : La magie des couleurs</li>
            {% endif %}
            {% if magie >= 3 %}
                <li>Sort 4 : ...</li>
            {% endif %}
        </ul>
        {% if magie == 1 %}
            <p>Pour faire appel à la magie</p>
            <p>Il faut équilibrer votre puissance</p>
            <p>En fonction de l'objectif</p>
            <a href="{{ path('app_magie_deuxieme_sort') }}">
                Apprendre le sort de niveau 2
            </a>
        {% elseif magie == 2 %}
            <p>Pour passer au niveau 3</p>
            <p>Il faut comprendre les couleurs</p>
            <p>ça sera évident quand vous y serez </p>
            <a target="_blank" rel="noopener noreferrer"  href="{{ path('app_magie_troisieme_sort') }}">
                Apprendre le sort de niveau 3
            </a>
        {% endif %}
    </div>
</div>

