{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container text-xxl-center"> https://ekladata.com/QqMaXbrT0cLgH1ElMlQ0iJDr9Z8/Poe-Edgar-Allan-Le-Scarabee-D-Or.pdf
        Il y a quelques années, je me liai intimement
        avec un monsieur William Legrand. Il était d'une
        ancienne famille protestante, et jadis il avait été
        riche ; mais une série de malheurs l'avait réduit à
        la misère. Pour éviter l'humiliation de ses
        désastres, il quitta La Nouvelle-Orléans, la ville
        de ses aïeux, et établit sa demeure dans l'île de
        Sullivan, près Charleston, dans la Caroline du
        Sud.
    </div>
{% endblock %}
