{% extends 'base.html.twig' %}

{% block title %}Les jeux de Willy!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Bienvenu à vous !</h1>
        <h2>Si vous êtes ici, vous avez normalement reçu un papier vous indiquant la marche à suivre !</h2>
        <article>
            N'ayez pas peur de fouiner dans le site, on peut trouver des indices partout !
            <!--Même ici !-->
        </article>
    </div>

{% endblock %}
