{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div >
    <div class="spinner-border" role="status" id="spinner">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="button">
        a
    </div>
</div>
{% endblock %}
