{% extends 'base.html.twig' %}
{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}<div class="container-fluid text-center">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>Vous poursuivez le maitre</p>
                <p>Il se retourne et semble en colère</p>
                <img class="img-fluid" src="{{ asset('images/maitre-enerve.webp') }}" alt="un magnifique pilier avec des cercles de couleurs">
            </div>
            <div class="col">
                {% include 'JeuCommunaute/menu/_menu.html.twig' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
