
<div class="col">
    <a href="{{ path('app_communaute_jeu_premier_niveau') }}">
        <img class="img-fluid"
             src="{{ asset('images/premier_niveau_remonter.webp') }}"
             alt="photo d'un trou, avec de vieilles pierres represantant le premier niveau"
        >
    </a>
</div>
