{% extends 'base.html.twig' %}
{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <h1>Vous manquez malheureusement de point d'appuie et vous tombez !!</h1>
        {% include 'JeuCommunaute/communaute-jeu/_remonter.html.twig' %}
    </div>

{% endblock %}
