
<div class="offcanvas offcanvas-start" tabindex="-1" id="rebus6" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">

        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vous approchez de l'inscription...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img class="img-fluid" src="{{ asset('images/rebus6.webp') }}" alt="rebus1 : bille, 01 Janvier, bonne année , 2 personnes nues , @ , oie">
    </div>
</div>
