{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        BIENVENU DANS LES CATACOMBES

        <p>SI vous êtes ici, c'est qu'il y a 2 raisons possibles, Aventurier.e !</p>
        <p>Soit la confiance après avoir vu l'URL , qui était un piege !</p>
        <p>Soit la curiosité, qui est un vilain défaut !</p>
    </div>

{% endblock %}
