
<div class="offcanvas offcanvas-start" tabindex="-1" id="deuxiemePierreOffCanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">En appuyant sur cette autre pierre, il se passe quelques choses ...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Est-ce qu'on ne pourrait pas l'utiliser comme point de départ ?
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Que faire...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-bs-dismiss="offcanvas" aria-label="Close">Chercher une autre pierre</a></li>
                <li><a class="dropdown-item" href="{{ path('app_communaute_jeu_deuxieme_pierre_descendre') }}">Tenter de descendre</a></li>

                {% set contenu = app.session.get('inventaire').contenu['clef-4'] %}
                {% if not clef %}
                    <li><a class="dropdown-item" href="{{ path('app_communaute_jeu_deuxieme_pierre_enlever') }}">Sortir la pierre</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
