{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <div>
            <a class="btn btn-info" href="{{ path('app_communaute_jeu_deux_ouvert') }}">Retenter</a>

        </div>
        <img class="img-fluid" src="{{ asset('images/gnome_mauvais.webp') }}" alt="Gnome qui pose une question 'Mot de passe?'">
    </div>

{% endblock %}
