{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    {% set clef4 = app.session.get('clef-4') %}
    {% set clef33 = app.session.get('clef-33') %}
    {% if not (clef4 and clef33) %}
        <div class="alert alert-danger d-flex text-center" role="alert">
            <div>
                Il vous manque des objets.
            </div>
        </div>
    {% endif %}
    <div class="container-fluid text-center">
        <article>
            <div>
                A force de tenter d'ouvrir la porte avec les clefs, sans succès, vous faites un raffut incroyable !
                <p>
                    Le maitre du donjon vous a entendu et vous envoie un de ces sbires !
                </p>
                <p>
                    Mais pas le plus futfut, on va dire !
                </p>
                <p class="commentaire-maitre-jeu">
                    Bon, c'est pas nous qui allons le critiquer même pas capable d'utiliser des clefs !
                </p>

                <img class="img-fluid" src="{{ asset('images/gnome.webp') }}" alt="Gnome qui pose une question 'Mot de passe?'" usemap="#workmap" >

            </div>
            <div>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
            <!--Même ici !-->
        </article>

    </div>

{% endblock %}
