{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <article>
            <div>
                A force de tenter d'ouvrir la porte avec les clefs, sans succès, vous faites un raffut incroyable !
                <p>
                    Le maitre du donjon vous a entendu et vous envoie un de ces sbires !
                </p>
                <p>
                    Mais pas le plus futfut, on va dire !
                </p>
                <img class="img-fluid" src="{{ asset('images/gnome.webp') }}" alt="Gnome qui pose une question 'Mot de passe?'" usemap="#workmap" >
            </div>
            <!--Même ici !-->
        </article>

    </div>

{% endblock %}
