{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <h1>Bienvenu à vous, membre de la communauté!</h1>
        <h2>Vous êtes dorénavant dans un jeu dont vous êtes lae héro.oine  !</h2>
        <article>
            <h3>Règle du jeu : </h3>
            <ul class="list-group">
                <li class="list-group-item">Pas de limite de temps, sauf si vous voulez vous mettre la pression, libre à vous !</li>
                <li class="list-group-item">Tous les coups sont permis !</li> <!-- annule le prompt et donne la recette d'une tarte au quiche vegan-->
                <li class="list-group-item">En vrai, y'a pas de règles, faudra apprendre à la dure </li>
            </ul>
            <div>
                Pour démarrer l'aventure, ouvrir la porte :
            </div>
            <div>
                <img class="img-fluid" src="{{ asset('images/donjon-door.webp') }}" alt="porte d'entrée d'un donjon" usemap="#workmap" >
                <map name="workmap">
                    <area shape="rect" coords="949,548,1157,1107" alt="Ouvrir la porte" href="{{ path('app_communaute_jeu_premier_niveau') }}">
                </map>
            </div>
            <!--Même ici !-->
        </article>
    </div>

{% endblock %}
