{% extends 'base.html.twig' %}

{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <article>
            <h1>Vous trouvez une clef</h1>
            <img class="img-fluid" src="{{ asset('images/clef-4.webp')}}" alt="clef avec marqué 4 dessus" width="200" >
            {% include 'communaute-jeu/_premiere-pierre.html.twig' %}
            <div>
                {% set clef33 = app.session.get('inventaire').contenu['clef-33'] %}
                {% if clef33 %}
                    <img class="img-fluid"
                         src="{{ asset('images/premier_niveau_sans_premiere_deuxieme_pierre.webp') }}"
                         alt="photo d'un trou, avec de vieilles pierres represantant le premier niveau"
                         usemap="#workmap">
                {% else %}
                    <img class="img-fluid"
                         src="{{ asset('images/premier_niveau_sans_deuxieme_pierre.webp') }}"
                         alt="photo d'un trou, avec de vieilles pierres represantant le premier niveau"
                         usemap="#workmap">
                {% endif %}
                <map name="workmap">
                    <area shape="rect" coords="173,259,241,271"
                          alt="Ouvrir la porte"
                          data-bs-toggle="offcanvas"
                          href="#premierePierreOffCanvas"
                          role="button"
                          aria-controls="premierePierreOffCanvas">
                </map>
            </div>
            <!--Même ici !-->
        </article>

    </div>

{% endblock %}
