
<div class="offcanvas offcanvas-start" tabindex="-1" id="passageSousEscalier" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vous commencez à prendre le passage...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Mais un bruit se fait entendre !</p>
            <p>Vous figez tel le lapin face qui fait</p>
            <p> face à la voiture sur la route !</p>
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Que faire...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('app_escalier')}}">Foncer</a></li>
                <li><a class="dropdown-item" href="{{ path('app_escalier_cailloux')}}">Envoyer une pierre vers le bruit</a></li>
                <li><a class="dropdown-item" href="{{ path('app_escalier_regarder')}}">Regarder autour</a></li>
            </ul>
        </div>
    </div>
</div>
