{% extends 'base.html.twig' %}

{% block title %}Hello MagieController!{% endblock %}

{% block body %}
    <div class="container text-center">
        {% if alert == 1 %}
            <div class="alert alert-danger" role="alert">
                Ratééééé !
            </div>
        {% endif %}
        {% set crane = serviceInventaire.inventaireObject(app.session, Constantes.crane ) %}
        {% if alert == 2 or crane %}
            <div class="alert alert-success" role="alert">
                Vous avez résolu l'énigme... vous trouvez
                <img src="{{ asset('images/cranedoree.webp') }}" alt="crane dorée"  >
            </div>
        {% endif %}
        {% set magie = app.session.get('magie') %}
        {% if magie and magie => 2 %}
            <div class="row">
                <div class="col">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <div>
                Il vous manque un peu de magie pour aller plus loin...
                <p>Revenez plus tard!</p>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{{ asset('images/catacombe_stele.webp') }}" alt="une magnifique stele avec des inscriptions">
            </div>
            <div class="col">
                {% include 'menu/_menu.html.twig' %}
            </div>
        </div>
        {%  include 'catacombe/_revenir_entree_catacombe.html.twig' %}
    </div>
{% endblock %}
