{% extends 'base.html.twig' %}

{% block title %}Hello MagieController!{% endblock %}

{% block body %}
    <div class="container text-center">
        {% if alert == 1 %}
            <div class="alert alert-danger" role="alert">
                Hé bah...heureusement qu'on manipule pas de la grosse magie !
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                3EME SORT EN CONSTRUCTION
                <p>La première est toute vide</p>
                <p>La deuxieme est toute pleine</p>
                <p>La troisieme est autant vide que pleine</p>
                <p>La dernière est la premiere et la troiseme</p>
                {{ form_start(form) }}
                {{ form_end(form) }}
                {% include 'jardin/_revenir-entree-jardin.html.twig' %}
            </div>
            <div class="col">
                {% include 'menu/_menu.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
