<div class="offcanvas offcanvas-end" tabindex="-1" id="inventaire" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Inventaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% set inventaire = serviceInventaire.inventaireObjects(app.session) %}
        {% if  inventaire %}
            {% for obj in inventaire.contenu %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ obj.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ obj.description }}</h6>
                        <p class="card-text">{{ obj.moreInformation }}</p>
                        {% set monstreCompa = app.session.get('monstre-compa') %}
                        {% if monstreCompa and obj.name == 'crane' %}
                            <a href="#"><p class="casse-tete">L'occasion de se casser la tête</p></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

