
{% include 'inventaire/_inventaire.html.twig' %}
<button class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#inventaire"
        aria-controls="inventaire">Inventaire</button>
